body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(211, 211, 211);
  }
  /* 所有按钮都有指针样式变换 */
  button:hover {
    cursor: pointer;
    background-color: rgb(239, 164, 28);
    transition: background-color 0.3s ease;
  }
  /*------------------------------------------------*/
  
  /*顶部导航栏*/
  nav {
    width: 100%;
    top: 0;
    position: fixed;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(239, 164, 28);
    color: white;
  }
  nav .WenHao {
    margin-left: 50px; /*外边距离左边为30px */
    width: 30px; /* 圆的宽度 */
    height: 30px; /* 圆的高度 */
    background-color: white; /* 圆的背景颜色 */
    border-radius: 50%; /* 圆角设置为50% */
    display: flex; /* 使用flexbox居中内容 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    font-size: 30px; /* 问号的字体大小 */
    color: rgb(239, 164, 28); /* 问号的颜色 */
    font-weight: bold; /* 问号加粗 */
  }
  
  nav .WenJuan {
    padding-left: 10px; /* 左边距为10px */
    padding-right: 40px; /* 右边距为20px */
    font-size: 20px; /* 字体大小 */
    color: white; /* 颜色 */
    font-weight: bold; /* 加粗 */
  }
  div.my-questionnaire {
    display: flex; /* 使用flexbox居中内容 */
    align-items: center; /* 垂直居中 */
    a.My-questionnaire {
      display: flex; /* 使用flexbox居中内容 */
      justify-content: center; /* 水平居中 */
      font-size: 15px; /* 字体大小 */
      color: white; /* 颜色 */
      border: 2px solid rgb(236, 138, 35);
      text-decoration: none;
      transition: filter 0.3s ease-in-out;
      cursor: pointer;
    }
  }
  
  /*------------------------------------------------*/
  
  /*主页----空问卷*/
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 10%;
    box-shadow: 0 5px 5px 0px gray;
    background-color: rgb(255, 255, 255);
  }
  .home .create-questionnaire {
    width: 15%;
    position: relative;
    text-align: center;
    border: 2px solid rgb(236, 136, 35);
    border-radius: 5px;
    background-color: rgb(239, 164, 28);
    color: white;
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
    .New-questionnaire {
      font-size: 20px;
      font-weight: bold;
    }
  }
  
  /*------------------------------------------------*/
  
  /*新建问卷界面*/
  .creating {
    display: none;
    margin: 10%;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px 0px gray;
  }
  
  .creating .new-title {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
    border: none;
  }
  
  .creating .question-style {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 80px;
    padding: 20px;
    border: 1px solid gray;
  }
  
  .question-styles {
    display: none;
  }
  
  .creating .question-style button {
    height: 25px;
    width: 100px;
  }
  .creating .question-style button img {
    height: 50%;
  }
  .creating .adding {
    text-align: center;
    height: 80px;
    line-height: 80px;
    background-color: rgb(211, 211, 211);
    margin-bottom: 20px;
  }
  .adding:hover{
      cursor: pointer;
      background-color: rgb(239, 164, 28);
      transition: background-color 0.3s ease;
  }
  .creating hr {
    border-width: 2px;
    border-color: rgb(211, 211, 211);
  }
  .create-end {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .create-end .buttons {
    width: 140px;
    display: flex;
    justify-content: space-between;
  }
  
  .choice-box {
    height: 50px;
    width: 80%;
    border: 2px solid black;
  }
  
  .choice-name-box {
    width: 80%;
    height: 30px;
  }
  
  .my-questionnaires {
    display: none;
    background-color: rgb(211, 211, 211);
  }
  .my-questionnaires-nav {
    margin-top: 9%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    color: rgb(54, 45, 154);
  }
  
  .my-questionnaire-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px 0px gray;
  }
  
  .my-create-questionnaire {
    width: 20%;
    text-align: center;
    border: 2px solid rgb(236, 136, 35);
    border-radius: 5px;
    background-color: rgb(239, 164, 28);
    color: white;
  }
  
  .myQuestionnaireEdit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
    height: 50px;
    width: 100%;
  }
  .my-questionnaire-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  